{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
  },
  "plugins": ["react"],
  "ecmaFeatures": {"jsx": true},
  "rules": {
    "no-multi-comp": ["off", { "ignoreStateless": 1 }],
    # "comma-dangle": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "react/jsx-first-prop-new-line": ["warn", "never"],
    # "react/jsx-indent-props": "off",
    # "react/jsx-indent": "off",
    "react/jsx-closing-bracket-location": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/first": "off",
    "import/extensions": "off",
    "no-nested-ternary": "off",
    "max-len": ["off", {"code": 150 }]
  },
}
