#headerBar  {
  font-family: "Verdana";
	color: #ffffff;
	padding: 5px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #aaa;

}

#image {
  text-align: center;
  margin-top: 15px;
}
#imageHolder{
  width: 445px;
  height: 310px;
}


#buttons {
  text-align: center;
  margin: 10px;
}
.button1 {
    font-size: 48px;
    background-color: #999;
    margin-top: 15px;
}
