body {
  text-align: center;
  /*padding-top: 70px;*/
}
.btn {
}

.test-area {
  width: 90%;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  color: black;
  text-align: left;
  padding: 5px;
}
.input-group {
  margin: 0 auto;
  float: none;
  width: 40%;
  min-width: 150px;
}
#advanced {
  margin-top: 25px;
}
#advanced-filters {
  display: none;
}
#cmc .input-group {
  /*width: 300px;*/
}

.card {
  padding: 5px;
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;*/
}
.card-info {

}
.card-info-row {
  /*display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;*/
}
.card-name {
  font-size: 1.2em;
  font-weight: bold;
}
.card-mana-cost {
  font-weight: bold;
}
.card-type {
  font-weight: bold;
}
.card-set {

}
.card-text {
  margin-top: 15px;
}

.manaSymbol > img{
  width: 18px;
}
.mana-btn > img{
  width:36px;
}

.filter-groups {
  margin: 15px;
}

.anyColor {
  background-image: url(../images/anyColor.svg);
  width: 22px;
  background-repeat: no-repeat;
}


.player-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.player {
  margin: 10px;
  flex-basis: 20%;
}
.player-name {
  text-align: center;
  font-size: 2.5em;
  width: 100%;
}
.lifeTotal {
  font-size: 5em;
}
.plus {
  margin: 5px;
}
.minus {
  margin: 5px;
}
.glyphicon-tasks {
  margin: 3px;
}
.counter {
  margin-top: 15px;
}
.counter-name {
  text-align: center;
}
.valueTotal {
  font-size: 2.5em
}
