body {
  text-align: center;
  /*padding-top: 70px;*/
}
.test-area {
  width: 90%;
  min-height: 400px;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  color: black;
  text-align: left;
  padding: 5px;
}
.input-group {
  margin: 0 auto;
  float: none;
  width: 40%;
  min-width: 150px;
}
#search {
  margin: 10px;
}

.card {
  background-color: #ddd;
  padding: 5px;
  border: 2px solid #aaa;
}
.card-info {

}
.card-name {
  font-size: 1.2em;
  font-weight: bold;
}
.card-mana-cost {
  font-weight: bold;
}
.card-type {
  font-weight: bold;
}
.card-set {

}
.card-text {
  margin-top: 15px;
}
