#image {
  text-align: center;
  margin-top: 15px;
}
#imageHolder {
  width: 445px;
  height: 310px;
}
#text {
	text-align: left;
}
#oracle {
  margin-top: 25px;
  padding-right: 25px;
}
#chaos {
  margin-top: 25px;
  padding-right: 25px;
}
