<div class="card">
  <div class="row">
    <div class="col-md-3 card-imageUrl">
      <img src="<%= imageurl %>" alt="">
    </div>
    <div class="col-md-9 card-info">
      <div class="row">
        <div class="col-md-3 card-name"><%= name %></div>
        <div class="col-md-3 card-mana-cost"><%= manacost %> (<%= cmc %>)</div>
        <div class="col-md-3 card-type"><%= type %></div>
        <div class="col-md-1 card-pow-tou"><%= power %>/<%= toughness %></div>
        <div class="col-md-2 card-set"><%= set %></div>
      </div>
      <div class="row">
        <div class="col-md-12 card-text"><%= text %></div>
      </div>
      <div class="row">
        <div class="col-md-12 card-rulings"><table class="table"><%= rulings %></table></div>
      </div>
    </div>
  </div>
</div>
